@model Pandora.Cigfi.Models.Cigfi.Product.ProductViewModel
@{
    ViewBag.title = "编辑商品";
}
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="ibox float-e-margins">
        <div class="ibox-content">
            @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "editProductForm", @class = "form-horizontal m-t", enctype = "multipart/form-data" }))
            {
                <input type="hidden" asp-for="Id" />
                <div class="form-group">
                    <label class="col-sm-3 control-label">商品名称：</label>
                    <div class="col-sm-8">
                        <input asp-for="Name" class="form-control" required placeholder="填写商品名称">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">价格(CIGFI)：</label>
                    <div class="col-sm-8">
                        <input asp-for="Price" class="form-control" required placeholder="填写商品价格">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">库存：</label>
                    <div class="col-sm-8">
                        <input asp-for="Stock" class="form-control" required placeholder="填写库存数量">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">商品主图：</label>
                    <div class="col-sm-8">
                        <input type="hidden" asp-for="ImageUrl" id="ImageUrl" />
                        <div id="aCoverImgUrl" style="margin-bottom:10px;@(string.IsNullOrEmpty(Model.ImageUrl) ? "display:none;" : "")">
                            <img id="midImg" style="max-width:200px;max-height:200px;" src="@(string.IsNullOrEmpty(Model.ImageUrl) ? "/images/default.JPG" : ViewBag.ImagePrefix + Model.ImageUrl + "?x-oss-process=image/quality,q_30")" />
                        </div>
                        <input type="file" id="CoverImg" name="imageFile" accept="image/*" class="form-control" style="display:inline-block;width:auto;" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">缩略图URL(逗号分隔)：</label>
                    <div class="col-sm-8">
                        <input asp-for="ThumbnailUrls" class="form-control" placeholder="缩略图URL，多个用逗号分隔">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">商品目录：</label>
                    <div class="col-sm-8">
                        <select name="CategoryId" class="form-control">
    <option value="">请选择分类</option>
    @foreach (var cat in (IEnumerable<Pandora.Cigfi.Models.Cigfi.CategoryViewModel>)ViewBag.Categories)
    {
        if (cat.Id == Model.CategoryId)
        {
            <option value="@cat.Id" selected>@cat.Name</option>
        }
        else
        {
            <option value="@cat.Id">@cat.Name</option>
        }
    }
</select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">参数(JSON)：</label>
                    <div class="col-sm-8">
                        <input asp-for="Params" class="form-control" placeholder="参数(JSON格式)">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">描述：</label>
                    <div class="col-sm-8">
                        <textarea asp-for="Description" id="Description" class="form-control" placeholder="商品描述"></textarea>
                    </div>
                </div>
                <div class="hr-line-dashed"></div>
                <div class="form-group">
                    <div class="col-sm-4 col-sm-offset-3">
                        <button class="btn btn-primary" type="submit"><i class="fa fa-save"></i> 提交 </button>
                        <button class="btn btn-default" type="button" onclick="closethisdialog();"><i class="fa fa-close"></i> 取消 </button>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
<script src="/editor/ckeditor/ckeditor.js"></script>
<script>
    var CKDescription = CKEDITOR.replace('Description', { width: 900, height: 300 });
    $(function () {
        // 图片预览
        $("#CoverImg").change(function () {
            var file = this.files[0];
            if (file) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    $("#midImg").attr('src', e.target.result);
                    $("#aCoverImgUrl").show();
                }
                reader.readAsDataURL(file);
            }
        });
        // 不再自动DoPost，直接用表单submit
    });
</script>
