@{
    ViewData["Title"] = "Index";
}

<h1>TestOne</h1>
<h3>@base.ViewBag.Url</h3>



    <h4>********************</h4>
    <h4>@ViewBag.User.Account</h4>
    <h4>@ViewBag.User.Email</h4>
    <h4>@ViewBag.User.Name</h4>

<h3>@base.ViewBag.Message</h3>
